<ng-container *ngIf="students && students.length > 0; else noData">
  <table mat-table [dataSource]="students" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let student"> 
        <ng-container >
          {{student.id}}
        </ng-container>
      </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let student"> 
        <ng-container *ngIf="editingStudent?.id !== student.id; else editName">
          {{student.name}}
        </ng-container>
        <ng-template #editName>
          
            <input matInput [(ngModel)]="editingStudent!.name" required [pattern]="'^[a-zA-Z\\s]*$'" #nameInput="ngModel">
            <mat-error *ngIf="nameInput.errors?.['required']">Name is required</mat-error>
            <mat-error *ngIf="nameInput.errors?.['pattern']">Only alphabets and spaces</mat-error>
          
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="rollNumber">
      <th mat-header-cell *matHeaderCellDef> Roll Number </th>
      <td mat-cell *matCellDef="let student"> 
        <ng-container *ngIf="editingStudent?.id !== student.id; else editRollNumber">
          {{student.rollNumber}}
        </ng-container>
        <ng-template #editRollNumber>
          
            <input matInput [(ngModel)]="editingStudent!.rollNumber" required pattern="^[0-9]+$" #rollInput="ngModel">
            <mat-error *ngIf="rollInput.errors?.['required']">Roll Number is required</mat-error>
            <mat-error *ngIf="rollInput.errors?.['pattern']">Roll Number should contain only numbers</mat-error>
          
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td mat-cell *matCellDef="let student"> 
        <ng-container *ngIf="editingStudent?.id !== student.id; else editAge">
          {{student.age}}
        </ng-container>
        <ng-template #editAge>
          
            <input matInput type="number" [(ngModel)]="editingStudent!.age" required min="1" max="120" #ageInput="ngModel">
            <mat-error *ngIf="ageInput.errors?.['required']">Age is required</mat-error>
            <mat-error *ngIf="ageInput.errors?.['min']">Age must be at least 4</mat-error>
            <mat-error *ngIf="ageInput.errors?.['max']">Age must not exceed 100</mat-error>
          
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="sex">
      <th mat-header-cell *matHeaderCellDef> Sex </th>
      <td mat-cell *matCellDef="let student"> 
        <ng-container *ngIf="editingStudent?.id !== student.id; else editSex">
          {{student.sex}}
        </ng-container>
        <ng-template #editSex>
          <mat-radio-group [(ngModel)]="editingStudent!.sex" required #sexInput="ngModel">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
            <mat-radio-button value="other">Other</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="sexInput.errors?.['required']">Sex is required</mat-error>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let student">
        <ng-container *ngIf="editingStudent?.id !== student.id; else editActions">
          <button mat-icon-button color="primary" (click)="startEdit(student)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDelete(student)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>
        <ng-template #editActions>
          <button mat-icon-button color="primary" (click)="saveEdit()" [disabled]="!isEditValid()">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="cancelEdit()">
            <mat-icon>close</mat-icon>
          </button>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-container>

<ng-template #noData>
  <mat-card class="mat-elevation-z8">
    <div class="no-data-message">No Student Added</div>
  </mat-card>
</ng-template>